﻿@model Image

<div class="offset-lg-3 col-lg-6 edit">
    <form class="my-2" method="post" enctype="multipart/form-data">
        
        <h2 class="text-center mt-2">
            <i class="fas fa-edit"></i>
            @if (ViewBag.Adding)
            {
                <span>Add photo</span>
            }
            else
            {
                <span>Edit photo #@Model.Id</span>
            }
        </h2>

        @if (!ViewBag.Adding)
        {
            <input type="hidden" asp-for="Id" />
        }
        else
        {
            <input type="hidden" name="Path" value="NULL" />
        }

        <h4 class="mt-1">Title:</h4>
        <textarea type="text" rows="20" name="Title" class="form-control my-1" placeholder="Enter description">@(Model?.Title ?? "")</textarea>
        <br />
        
        <h4 class="mt-1">Date:</h4>
        <input type="date" name="DateTime" class="form-control my-1" placeholder="Enter date" value="@(Model?.DateTime.ToString("yyyy-MM-dd") ?? DateTime.Now.ToString("yyyy-MM-dd"))" />
        <span class="text-danger" asp-validation-for="DateTime"></span>
        <br />
        
        @if (!ViewBag.Adding)
        {
            <a class="thumbnail my-2" href="/@(Context.GetImagesPath() + Model.Path)">
                <img class="col-6 offset-3 img-thumbnail p-0" 
                        src="/@(Context.GetImagesPath() + Model.Path)" />
            </a>
        }

        <h4 class="mt-1">@(ViewBag.Adding ? "Select" : "Edit") file:</h4>
        <input type="file" name="file" class="form-control my-1" placeholder="Select file.." />
        <span class="text-danger">@(Html.ValidationMessage("file"))</span>
        <br />

        <button type="submit" class="mb-2 form-control btn btn-outline-primary">
            <i class="fas fa-check"></i>
            Save
        </button>
        @if (!ViewBag.Adding)
        {
            <button type="button" class="mb-2 form-control btn btn-outline-danger" data-toggle="modal" data-target="#remove">
                <i class="fas fa-times"></i>
                Remove
            </button>
            @await Html.PartialAsync("RemoveDialog", new RemoveDialogVM { BodyText = "Are you sure to remove photo?", FormAction = "/Home/RemovePhoto" })
        }
    </form>
</div>