﻿@model PagedVM<List<Image>>

<div class="row">
    <h2 class="col-12 text-center my-2">
        <i class="fas fa-images"></i> Gallery
        @if (Context.IsAdmin())
        { 
            <span class="h2 ml-3"><a href="/Gallery/Add">(Add..)</a></span>
        }
    </h2>
    @foreach (Image image in Model.Data)
    {
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-2 image">
            @await Html.PartialAsync("ImageCard", image)
        </div>
    }
    @await Html.PartialAsync("Pages", Model.Pages)
</div>