﻿@model Exception

<h2 class="text-danger text-center my-2">Unexpected error occured</h2>
<h3 class="text-danger text-center">Try to request later</h3>
<h3 class="text-danger text-center">or contact administrator</h3>

@if (Context.IsAdmin())
{
    <h3 class="text-danger text-center my-2">Error: @Model.Message</h3>
}