﻿@model HomeVM

<div class="row">
    <div class="col-12 col-lg-9 top-month mb-2">
        <div class="row">
            <h3 class="text-center col-12 mt-2"><i class="fas fa-star"></i> Top in the last month:</h3>
            @foreach (Animal animal in Model.TopMonth)
            {
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    @await Html.PartialAsync("AnimalCard", animal)
                </div>
            }           
        </div>
    </div>
    <div class="col-12 col-lg-3 new">
        <div class="row">
            <h3 class="text-center col-12 my-2"><i class="fas fa-sun"></i> New animals:</h3>
            @foreach (Animal animal in Model.New)
            {
                <div class="col-12 col-md-6 col-lg-12 my-2">
                    @await Html.PartialAsync("AnimalCard", animal)
                </div>
            }
        </div>
    </div>
</div>