﻿<div class="offset-lg-3 col-lg-6">
    <form method="post" action="/Home/Login">
        <h2 class="text-center my-2">Enter key to login as administrator</h2>
        <h4 class="text-danger text-center">@ViewBag.Message</h4>
        <input name="id" class="form-control col-12 my-2" type="password" placeholder="Enter password" />
        <button type="submit" class="btn btn-outline-primary form-control autosize"><i class="fas fa-check"></i> Login</button>
    </form>
</div>