﻿@model SearchVM

<div class="row">
    <h2 class="col-12 mt-2 text-center"><i class="fas fa-search"></i> Search:</h2>
    <a name="animals"></a>
    <h2 class="col-12 my-2 text-center"><i class="fas fa-th"></i> Animals:</h2>
    <form class="col-12 my-2" method="post" action="/Home/Search">
        <div class="row">
            <div class="col-12 col-md-10">
                <input type="search" name="search" class="form-control col-12 mb-2 mb-md-0" placeholder="Search.." value="@Model.Search" />
            </div>
            <div class="col-12 col-md-2">
                <button type="submit" class="btn btn-primary col-12"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>
    </form>
    @foreach (Animal animal in Model.Animals.Data)
    {
        <div class="col-12 col-md-6 col-lg-3 my-2 search">
            @await Html.PartialAsync("AnimalCard", animal)
        </div>
    }
    @await Html.PartialAsync("Pages", Model.Animals.Pages)
    <a name="families"></a>
    <h2 class="col-12 my-2 pt-4 text-center top-line"><i class="fas fa-th"></i> Families:</h2>
    <form class="col-12 my-2" method="post" action="/Home/Search">
        <div class="row">
            <div class="col-12 col-md-10">
                <input type="search" name="search" class="form-control col-12 mb-2 mb-md-0" placeholder="Search.." value="@Model.Search" />
            </div>
            <div class="col-12 col-md-2">
                <button type="submit" class="btn btn-primary col-12"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>
    </form>
    @foreach (Family family in Model.Families.Data)
    {
        <div class="col-12 col-md-6 col-lg-3 my-2 search">
            <div class="card">
                <h5 class="card-header text-center">@family.Name</h5>
                <div class="card-body">
                    <p class="card-text">@family.ShortDescription</p>
                    <a class="btn btn-outline-primary float-right" href="/Families/Details/@family.Id">
                        <i class="fas fa-info-circle"></i> More..
                    </a>
                </div>
            </div>
        </div>
    }
    @await Html.PartialAsync("Pages", Model.Families.Pages)
    <a name="images"></a>
    <h2 class="col-12 my-2 pt-4 text-center top-line"><i class="fas fa-th"></i> Images:</h2>
    <form class="col-12 my-2" method="post" action="/Home/Search">
        <div class="row">
            <div class="col-12 col-md-10">
                <input type="search" name="search" class="form-control col-12 mb-2 mb-md-0" placeholder="Search.." value="@Model.Search" />
            </div>
            <div class="col-12 col-md-2">
                <button type="submit" class="btn btn-primary col-12"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>
    </form>
    @foreach (Image image in Model.Images.Data)
    {
        <div class="col-12 col-md-6 col-lg-3 my-2 search image">
            @await Html.PartialAsync("ImageCard", image)
        </div>
    }
    @await Html.PartialAsync("Pages", Model.Images.Pages)
</div>