﻿@model PagedVM<List<Animal>>

<div class="row">
    <h2 class="col-12 my-2 text-center">
        <i class="fas fa-th"></i> All animals
        @if (Context.IsAdmin())
        { 
            <span class="h2 ml-3"><a href="/Animals/Add">(Add..)</a></span>
        }
    </h2>
    @foreach (Animal animal in Model.Data)
    {
        <div class="col-12 col-md-6 col-lg-3 my-2">
            @await  Html.PartialAsync("AnimalCard", animal)
        </div>
    }
    @await Html.PartialAsync("Pages", Model.Pages)
</div>