﻿@model AnimalDetailsVM

<div class="row">
    <div class="col-12 col-lg-9 px-4 animal-details">
        <div class="row">
            <div class="col-12 my-2 text-center">                
                <span class="h2">
                    <i class="fas fa-info-circle"></i>
                    @Model.Data.Name
                    @if (Model.Data.IsNew == true)
                    {
                        <span class="badge badge-primary">New</span>
                    }
                </span>
                <span class="h2">
                </span>   
                @if (Model.CanEdit)
                {
                    <span class="h2 ml-3"><a href="/Animals/Edit/@Model.Data.Id">(Edit..)</a></span>
                }
            </div>
            <p>@Model.Data.Description</p>
            <h4 class="text-right my-2 col-12"><i class="fas fa-calendar-alt"></i> @Model.Data.PostedOn.ToString("dd.MM.yyyy")</h4>
            <h2 class="col-12 my-2 text-center"><i class="fas fa-th"></i> Gallery:</h2>
            <div class="col-12">
                @foreach (Image image in Model.Data.Images)
                {
                    <a class="thumbnail" href="/@(Context.GetImagesPath() + image.Path)">
                        <img class="col-12 col-md-6 col-lg-3 img-thumbnail p-0" 
                             src="/@(Context.GetImagesPath() + image.Path)" />
                    </a>
                }
            </div>
        </div>
        @await Html.PartialAsync("Pages", Model.Pages)
    </div>
    <div class="col-12 col-lg-3 other">
        <div class="row row-eq-height">
            <h2 class="col-12 my-2 text-center">
                <i class="fas fa-th"></i> Other
                <a href="/Families/Details/@Model.Data.FamilyId">@Model.Data.Family.Name</a>
            </h2>
            @foreach (Animal animal in Model.Other)
            {
                <div class="col-12 col-md-6 col-lg-12 my-2">
                    @await Html.PartialAsync("AnimalCard", animal)
                </div>
            }
        </div>
    </div>
</div>
