﻿@model Animal

<div class="offset-lg-3 col-lg-6 edit">
    <h2 class="text-center mt-2">
        <i class="fas fa-edit"></i>
        @if (ViewBag.Adding)
        {
            <span>Add animal</span>
        }
        else
        {
            <span>Edit animal #@Model.Id</span>
            <a class="ml-2" href="/Animals/Details/@Model.Id">Details..</a>
        }
    </h2>
    <form method="post">
        @if (!ViewBag.Adding)
        {
            <input type="hidden" asp-for="Id" />
        }
        <h4 class="mt-1">Name:</h4>
        <input type="text" name="Name" class="form-control my-1" placeholder="Enter name" value="@(Model?.Name ?? "")" />
        <span class="text-danger" asp-validation-for="Name"></span>
        <br />

        <h4 class="mt-1">Description:</h4>
        <textarea type="text" rows="20" name="Description" class="form-control my-1" placeholder="Enter description">@(Model?.Description ?? "")</textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />

        <h4 class="mt-1">Posted on:</h4>
        <input type="date" name="PostedOn" class="form-control my-1" placeholder="Enter date" value="@(Model?.PostedOn.ToString("yyyy-MM-dd") ?? DateTime.Now.ToString("yyyy-MM-dd"))" />
        <span class="text-danger" asp-validation-for="PostedOn"></span>
        <br />
                
        <label class="form-control my-1 h4 check">
            <input type="checkbox" asp-for="IsNew" />
            Is new
        </label>
        <br />

        <h4 class="mt-1">Family:</h4>
        <families-select name="FamilyId" class="form-control" selected="Model?.FamilyId ?? 1"></families-select>
        <br />

        <button type="submit" class="mb-2 form-control btn btn-outline-primary">
            <i class="fas fa-check"></i>
            Save
        </button>
        @if (!ViewBag.Adding)
        {
            <a class="mb-2 form-control btn btn-outline-primary" href="/Animals/EditImages/@Model.Id">
                <i class="fas fa-images"></i>
                Edit photos..
            </a>

            <button type="button" class="mb-2 form-control btn btn-outline-danger" data-toggle="modal" data-target="#remove">
                <i class="fas fa-times"></i>
                Remove
            </button>
            @await Html.PartialAsync("RemoveDialog", new RemoveDialogView { BodyText = "Are you sure to remove animal?", FormAction = "/Animals/Remove" })
        }
    </form>
</div>