﻿@model AnimalEditImagesVM

<div class="offset-lg-3 col-lg-6 edit">
    <h2 class="text-center mt-2">
        Edit photos of @Model.Animal.Name
        <a class="ml-2" href="/Animals/Edit/@Model.Animal.Id">Edit..</a>
    </h2>
    <table class="table table-bordered table-light images-table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Photo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Image image in Model.Images)
            {
                <tr>
                    <td>@image.Id</td>
                    <td><a class="thumbnail" href="/@(Context.GetImagesPath() + image.Path)"><img class="img-thumbnail offset-lg-3 col-lg-6 p-0" src="/@(Context.GetImagesPath() + image.Path)" /></a></td>
                    <td>
                        <form method="post">
                            <input type="hidden" value="@image.Id" name="id" />
                            <button type="submit" formaction="/Animals/RemoveImage" class="btn btn-outline-danger"><i class="fas fa-times"></i> Remove</button>
                        </form>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form action="/Animals/AddImage" class="mb-2 img-thumbnail p-2" method="post">
        <h2 class="text-center mt-2"><i class="fas fa-plus"></i> Add image</h2>
        <input type="hidden" value="@Model.Animal.Id" name="id" />
        <h4>Image id</h4>
        <input type="text" class="form-control" name="imageId" />
        <span class="text-danger">@ViewBag.Message</span>
        <br />
        <button type="submit" class="btn btn-outline-primary form-control"><i class="fas fa-plus"></i> Add</button>
    </form>
</div>