﻿@model PagedVM<Family>

<div class="row">
    <div class="col-12 my-2">
        <div class="text-center">
            <span class="h2"><i class="fas fa-th-list"></i> @Model.Data.Name</span>
            @if (Model.CanEdit)
            {
                <span class="h2 ml-3"><a href="/Families/Edit/@Model.Data.Id">(Edit..)</a></span>
            }
        </div>
        <p>@Model.Data.Description</p>
        <h2 class="text-center"><i class="fas fa-th"></i> Animals:</h2>
    </div>
    @foreach (Animal animal in Model.Data.Animals)
    {
        <div class="col-12 col-md-6 col-lg-3 my-2">
            @await Html.PartialAsync("AnimalCard", animal)
        </div>
    }
    @await Html.PartialAsync("Pages", Model.Pages)
</div>