﻿@model Family

<div class="offset-lg-3 col-lg-6 edit">
    <h2 class="text-center mt-2">
        <i class="fas fa-edit"></i>
        @if (ViewBag.Adding)
        {
            <span>Add family</span>
        }
        else
        {
            <span>Edit family #@Model.Id</span>
        }
    </h2>
    <form method="post">
        @if (!ViewBag.Adding)
        {
            <input type="hidden" asp-for="Id" />
        }
        <h4 class="mt-1">Name:</h4>
        <input type="text" name="Name" class="form-control my-1" placeholder="Enter name" value="@(Model?.Name ?? "")" />
        <span class="text-danger" asp-validation-for="Name"></span>
        <br />

        <h4 class="mt-1">Description:</h4>
        <textarea type="text" rows="20" name="Description" class="form-control my-1" placeholder="Enter description">@(Model?.Description ?? "")</textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />

        <button type="submit" class="mb-2 form-control btn btn-outline-primary">
            <i class="fas fa-check"></i>
            Save
        </button>
        @if (!ViewBag.Adding)
        {
            <button type="button" class="mb-2 form-control btn btn-outline-danger" data-toggle="modal" data-target="#remove">
                <i class="fas fa-times"></i>
                Remove
            </button>
            @await Html.PartialAsync("RemoveDialog", new RemoveDialogVM { BodyText = "Are you sure to remove family? All related animals will be removed!", FormAction = "/Families/Remove" })
        }
    </form>
</div>