﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="windows-1251" />
    <meta name="viewport" content="width=device=width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Styles.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-sticky-top navbar-expand-lg navbar-dark bg-dark py-1">
        <div class="container">
            @await Component.InvokeAsync("Navbar")
        </div>
    </nav>
    <main class="container my-1">
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            @await Component.InvokeAsync("Footer")
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
</body>
</html>