﻿@model Animal

<div class="card">
    <a href="/Animals/Details/@Model.Id">
        <img class="card-img-top" src="/@(Context.GetImagesPath() + Model.CardImage.Path)" />
    </a>
    <div class="card-body">
        <h5 class="card-title mb-0">
            @Model.Name
            @if (Model.IsNew == true)
            {
                <span class="badge badge-primary">New</span>
            }
        </h5>
        <h6 class="card-text text-muted mt-0">@Model.Family.Name</h6>
        <p class="card-text">
            @Model.ShortDescription
        </p>
        <a class="btn btn-outline-primary float-right" href="/Animals/Details/@Model.Id"> 
            <i class="fas fa-info-circle"></i> More..
        </a>
    </div>
</div>