﻿@model List<Family>

<div class="row">
    <div class="col-md-4 col-sm-6 footer-section">
        <p>Families</p>
        <ul>
            @foreach (Family family in Model)
            {
                <li><a href="/Families/Details/@family.Id">@family.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 footer-section">
        <p>Information</p>
        <p><a href="/Contacts"><i class="fas fa-phone"></i> Contacts</a></p>
        <p><a href="/About"><i class="fas fa-info-circle"></i> About</a></p>
    </div>
    <div class="col-md-4 col-sm-12 footer-section">
        <p>Website was designed by K1riKKK in 01.2019</p>
        <p><a href="mailto:k1rikkk@mail.ru"><i class="fas fa-envelope"></i> k1rikkk@mail.ru</a></p>
        <p><a href="http://vk.com/k1rikkk"><i class="fab fa-vk"></i> vk.com/k1rikkk</a></p>
    </div>
</div>