﻿@model Image

<div class="card">
    <a href="~/@(Context.GetImagesPath() + Model.Path)">
        <img class="card-img-top" src="/@(Context.GetImagesPath() + Model.Path)" />
    </a>
    <div class="card-body">
        <p class="card-text">
            @if (Context.IsAdmin())
            {
                <span class="h5"><a class="card-text" href="/Gallery/Edit/@Model.Id">Edit..</a></span>                
                <span class="text-primary">#@Model.Id</span>
            }
            @(Model.Title ?? "No description")
        </p>
        <p class="card-text"><i class="fas fa-calendar-alt"></i> @Model.DateTime.ToString("dd.MM.yyyy")</p>
        @if (Model.AnimalId != null)
        {
            <a class="btn btn-outline-primary float-left" href="/Animals/Details/@Model.AnimalId">
                <i class="fas fa-info-circle d-none d-sm-inline"></i> Animal..
            </a>
        }
        <a class="btn btn-outline-primary float-right" href="~/@(Context.GetImagesPath() + Model.Path)">
            <i class="fas fa-arrows-alt d-none d-sm-inline"></i> More..
        </a>
    </div>
</div>