﻿@model List<Family>

<div class="navbar-header">
    <div class="navbar-brand">
        Zoo
    </div>
    <button type="button" class="navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto pt-1 pt-lg-0 mb-1 mb-lg-0 mt-1 mt-lg-0">
        <li class="nav-item"><a class="nav-link pl-2" href="/Home/Index"><i class="fas fa-home"></i> Home</a></li>
        <li class="nav-item"><a class="nav-link pl-2" href="/Gallery/Index/1"><i class="fas fa-images"></i> Gallery</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link pl-2 dropdown-toggle" href="#" id="families-dropdown" role="button" 
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-th-list"></i> Families
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="families-dropdown">
                @foreach (Family family in Model)
                {
                    <a class="dropdown-item" href="/Families/Details/@family.Id/1">@family.Name</a>
                }
                @if (ViewBag.Adding)
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Families/Add">Add..</a>
                }
            </div>
        </li>
        <li class="nav-item"><a class="nav-link pl-2" href="/Animals/All/1"><i class="fas fa-th"></i> Animals</a></li>
    </ul>
    <form class="form-inline ml-auto col-12 col-lg-5" role="search" method="post" action="/Home/Search">
        <input type="search" name="search" class="form-control mt-1 mt-lg-0 col-12 col-lg-8" placeholder="Search.." />
        <button type="submit" class="form-control btn col-12 col-lg-3">
            <i class="fas fa-search"></i> Search
        </button>
    </form>
</div>
