﻿@model PagesVM

<div class="btn-group col-12 justify-content-center pages mt-3" role="group">
    <a class="btn btn-outline-primary px-3" href="@Model.Href.Replace("{page}", (Model.Current - 1).ToString())">
        <i class="fas fa-chevron-left"></i> 
        <span class="d-none d-md-inline">Previous</span>
    </a>
    @foreach (int page in Model.Pages)
    {
        <a class="px-3 btn btn-@(page == Model.Current ? "primary active" : "outline-dark")" href="@Model.Href.Replace("{page}", page.ToString())">
            @(page.ToString())
        </a>
    }
    <a class="px-3 btn btn-outline-primary" href="@Model.Href.Replace("{page}", (Model.Current + 1).ToString())">
        <span class="d-none d-md-inline">Next</span>
        <i class="fas fa-chevron-right"></i>
    </a>
</div>