﻿@model RemoveDialogVM

<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="remove-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="remove-title">Remove?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Model.BodyText</p>
            </div>
            <div class="modal-footer">
                <button type="submit" formmethod="post" formaction="@Model.FormAction" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i> Remove
                </button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>