﻿h1 {
    margin-bottom: 0;
    margin-top: 0;
}

body {
    background-color: #ececff;
}

a {
    transition: all linear 0.1s 0s;
}

    footer a:hover {
        color: #55b3cc;
    }

.navbar-brand {
    font-weight: bold;
    color: #efefef;
}

.navbar-brand:hover {
    color: #9d9d9d;
}

.navbar {
    font-size: 18px;
}

.navbar-nav a, .form-inline button {
    transition: all linear 0.1s 0s;
    border-radius: 0;
    border: none;
    color: #9d9d9d;
    background-color: inherit;
}

    .navbar-nav a:hover, .form-inline button:hover, .form-inline button:active
        , .form-inline button:focus {
        border-color: #55b3cc;
        background-color: rgba(0, 0, 0, 0.2) !important;
        transition: all linear 0.1s 0s;
        color: white !important;
    }

a.dropdown-item {
    border: none !important;
    border-left: 3px solid #337ab7 !important;
    margin-top: 2px;
    width: auto;
}

    a.dropdown-item:hover {
        border-color: #55b3cc !important; 
    }

footer {
    background-color: #343a40;
    font-size: 18px;
    color: #9d9d9d;
    padding: 1em;
}

    footer p:first-child {
        margin-bottom: 0;
        font-size: 22px;
        color: #efefef;
    }
    
    footer p:not(:first-child) {
        padding-left: 1em;
        margin-bottom: 0;
        margin-top: 0;
    }

    footer a {
        color: #9d9d9d;
        padding-right: 0 !important;
    }

.footer-section div {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:hover {
    border-color: #55b3cc;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar .form-inline button {
    text-align: left;
}

.card {
    border-color: #337ab7;
}

    .card .card-body {
        border-top: 1px solid #337ab7;
    }

    .card .card-text {
        height: 6em;
        overflow: hidden;
    }

.new {
    border-top: 1px solid #337ab7;
}

.image .card-text {
    height: auto;
}

.image .card-text:first-child {
    height: 3em;
}

.pages .btn {
    font-size: 28px !important;
}

.thumbnail:hover img {
    border-color: #55b3cc !important;
    transition: all linear 0.1s 0s;
    transform: scale(1.05, 1.05);
}

.thumbnail img {
    transition: all linear 0.1s 0s;
    border-color: #337ab7;
}

.card:hover {
    transform: scale(1.05, 1.05);
    transition: all linear 0.1s 0s;
}

.card {
    transition: all linear 0.1s 0s;
}

.top-line {
    border-top: 1px solid #337ab7;
}

textarea {
    resize: none;
}

.edit button, .edit a.btn {
    font-size: 18px;
    font-weight: bold;
}

.dropdown-divider {
    border-color: #337ab7;
}

.check {
    font-size: 22px;
    color: inherit;
}

.images-table .thumbnail:hover {
    transform: scale(1.05, 1.05);
}

.card-text.text-muted {
    height: 1em;
}

@media (max-width: 575.98px) {
    .navbar-nav a, .form-inline button {
        margin-top: 2px;
        border-left: 3px solid #337ab7;
    }

    .navbar .navbar-header .navbar-brand {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .footer-section {
        margin-top: 0.5em;
        padding-top: 0.5em;
    }

        .footer-section:first-child {
            margin-top: 0;
            padding-top: 0;
        }

    .navbar .form-inline, .navbar-nav:first-child {
        border-top: 1px solid #337ab7;
    }

    .new a, .top-month a, .image a, .other a, .search a {
        font-size: 28px;
    }

    main {
        min-height: 300px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav a, .form-inline button {
        margin-top: 2px;
        border-left: 3px solid #337ab7;
    }

    .navbar .navbar-header .navbar-brand {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .navbar .form-inline, .navbar-nav:first-child {
        border-top: 1px solid #337ab7;
    }

    .new a, .top-month a, .image a, .other a, .search a, a.autosize {
        font-size: 24px;
    }

    main {
        min-height: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-nav a, .form-inline button {
        margin-top: 2px;
        border-left: 3px solid #337ab7;
    }

    .navbar .navbar-header .navbar-brand {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .navbar .form-inline, .navbar-nav:first-child {
        border-top: 1px solid #337ab7;
    }

    .new a, .top-month a, .image a, .other a, .search a, a.autosize {
        font-size: 20px;
    }

    main {
        min-height: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-nav a, .form-inline button {
        padding-bottom: 0.5em !important;
        margin-left: 2px;
        border-bottom: 3px solid #337ab7;
    }

    .navbar .form-inline button {
        text-align: center;
    }

    .new {
        border-left: 1px solid #337ab7;
        border-top: none;
        margin-top: 1px;
    }

    .animal-details {
        border-right: 1px solid #337ab7;
    }

    main {
        min-height: 500px;
    }
}

@media (min-width: 1200px) {
    .navbar-nav a, .form-inline button {
        padding-bottom: 0.5em !important;
        margin-left: 2px;
        border-bottom: 3px solid #337ab7;
    }

    .navbar .form-inline button {
        text-align: center;
    }

    .new {
        border-left: 1px solid #337ab7;
        border-top: none;
        margin-top: 1px;
    }

    .animal-details {
        border-right: 1px solid #337ab7;
    }

    main {
        min-height: 500px;
    }
}